<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="img/logo.png" height="40" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">O Problema</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A Solução</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Vantagens</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ui-sref="appSimple.login">Login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Header -->
<script type="text/javascript" src="node_modules/jssor-slider/js/jssor.slider.min.js"></script>
<script>
    jssor_slider1_init = function (containerId) {
        var options = { $AutoPlay: 1 };
        jssor_slider1 = new $JssorSlider$(containerId, options);
    };
</script>
<div style="text-align: center; line-height: 0">
	<header id="jssor_slider1_container" style="display:inline-block; position:relative; width:1914px; height:1077px;">
		<div u="slides" style="overflow:hidden; left:0px; top:0px; width:1914px; height:1077px;">
			<div><img u="image" src="img/banner-1.jpg" /></div>
			<div><img u="image" src="img/banner-2.jpg" /></div>
			<div><img u="image" src="img/banner-3.jpg" /></div>
		</div>
	</header>
</div>
<script>
	jssor_slider1_init("jssor_slider1_container");
	//responsive code begin
	//you can remove responsive code if you don't want the slider scales while window resizes
	function ScaleSlider() {
	var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
	if (parentWidth)
	jssor_slider1.$ScaleWidth(Math.min(parentWidth, 1920));
	else
		window.setTimeout(ScaleSlider, 30);
	}
	ScaleSlider();

	$(window).bind("load", ScaleSlider);
	$(window).bind("resize", ScaleSlider);
	$(window).bind("orientationchange", ScaleSlider);
	//responsive code end
</script>

<!-- Page Content -->

<section class="content-section content-section-even">
	
	<div class="container">
		
		<div class="row">
			<div class="col-lg-7 ml-auto">
				<h2 class="section-heading">Sobre o produto</h2>
				<p class="lead">
					Um aparelho capaz de registrar o consumo medido pelo hidrômetro numa plataforma de banco de dados capaz de identificar, a partir de médias históricas, um padrão de consumo de água, ajudando o consumidor, a empresa de saneamento e a cidade ou região na busca de uma maior racionalidade no uso da água.
				</p>
			</div>
			<div class="col-lg-5 mr-auto ">
				<img class="img-fluid" src="img/hidro1.png" alt="">
			</div>
		</div>
		
	</div>
	<!-- /.container -->
	
</section>

<section class="content-section content-section-a">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading text-center">O Problema<br></h2>
				<p class="lead text-center">
					Quando ocorre um vazamento dentro da propriedade particular, após a medição pelo hidrômetro, essa perda é considerada consumo e é cobrada do cliente pela empresa de saneamento, o que acarreta um expressivo aumento na conta de água. Esses vazamentos representam um custo alto para o consumidor final e é uma das principais fontes de inadimplência para as empresas de abastecimento.
				</p>
			</div>
		</div>
		
	</div>
	<!-- /.content-section-a -->
</section>

<!-- /.content-section-b -->

<section class="content-section content-section-odd">
	
	<div class="container">
		
		<div class="row">
			<div class="col-lg-7 mr-auto order-lg-2">
				<h2 class="section-heading text-right">A Solução</h2>
				<p class="lead text-right">
					Para reduzir as perdas e o custo da água para o consumidor final, a identificação de vazamentos dentro de propriedades particulares, de uma forma mais imediata, é de grande importância. A pronta identificação desse tipo de vazamento pode representar uma economia na conta de água para os proprietários e uma redução na inadimplência para as empresas de abastecimento público de água.
				</p>
			</div>
			<div class="col-lg-5 ml-auto order-lg-1">
				<img class="img-fluid" src="img/bulb2.png" alt="" style="height: 300px; width: auto;">
			</div>
		</div>
	</div>
	<!-- /.container -->
	
</section>
<!-- /.content-section-c -->

<section class="content-section content-section-even">
	
	<div class="container">
		
		<div class="row">
			<div class="col-lg-7 ml-auto">
				<h2 class="section-heading">As vantagens do hidrômetro inteligente</h2>
				<p class="lead">
					Os consumidores de água tratada demandam um maior controle sobre o consumo de água. Atualmente, a única informação que recebem sobre o seu consumo é a conta de água no final do mês. Com a plataforma e o leitor, o cliente poderá acompanhar seu gasto, identificar vazamentos e consumir de maneira mais consciente, o que irá reduzir o valor de sua conta mensal e contribuirá para a melhor gestão de seus recursos.
				</p>
			</div>
			<div class="col-lg-5 mr-auto ">
				<img class="img-fluid" src="img/casal.jpg" alt="">
			</div>
		</div>
		
	</div>
	<!-- /.container -->
	
</section>

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-5 div-left">
				<img src="img/logo-branco.png" alt="Hidrômetro Inteligente" />
			</div>
			<div class="col-12 col-sm-7 div-right">
					<p class="">Rua Paulo Emídio Barbosa, 485 Quadra 1A, Prédio CE-TIC, Sala 106 <br />
							Ilha da Cidade Universitária - Parque Tecnológico da UFRJ <br />
							Rio de Janeiro - RJ - Brasil <br />
							CEP 21941-907<br />
							(21) 3733-1807 / (21) 3733-1808 <br/>
							contato@aquafluxus.com.br</p>
			</div>
		</div>
	</div>
	<div class="sub-footer">
		<div class="container">
			<p class="copyright">Copyright &copy; 2017 AquaFluxus - Todos os direitos reservados</p>
		</div>
	</div>
</footer>