<div id="login-page" class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body text-white">
                            <h1>Entrar</h1>
                            <p class="text-muted">Entrar na área privada</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-envelope"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="E-mail">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <button type="button" class="btn btn-primary px-4" ui-sref="app.main">Entrar</button>
                                </div>
                                <div class="col-12 col-sm-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Esqueci a senha</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Bem vindo!</h2>
                                <p>Saiba mais sobre os hidrômetros inteligentes da AquaFluxus.</p>
                                <button type="button" class="btn btn-primary active mt-3">Mais informações</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
